.menu{
    
    position: absolute;
}

.search{
    position: absolute;
    left: 36%;
}

.navigation{
    background: var(--color-primary1);
    border-radius: 20px;
    padding: 0.5%;
}
.innavbar{
    border-radius: 20px;
    padding: auto;
}
